body {background-color:black;}

/*filmstrip container*/
.media, #media
{color: white;
	resize: both;
	
    max-width: 85%;
    max-height: 30em; 
	Margin-left:7.5%;
    Margin-right:7.5%;
    
    display: inline-block;
    white-space: nowrap;

    overflow-x: scroll;
    -ms-overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
    
}

.image
{
float:left;
height: 25em;
width: 26em;
margin: 0em;
text-align:center;
border: 0em solid white;


}

.imageContainer
{
float:left;

}

.container > div
{
	width: 500em;
	background-color: black;
    display: inline-block;
    border: solid 1px #000;
}

.container
{
    border: solid 1px #ff0000;
    text-align: center;
    margin: 0px auto;
    width: 40%;
}   
